.landing-container {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  .body {
    padding: 0px 0px 100px 10%;
    .slogan {
      font-size: 80px;
      em {
        color: $accent-color;
        font-style: normal;
      }
    }
    p {
      font-size: 30px;
      max-width: 700px;
      margin-bottom: 30px;
    }
    #login-btn {
      font-size: 30px;
      background-color: $accent-color;
      border-radius: 30px;
      color: white;
      text-decoration: none;
      padding: 14px 50px;
    }
    #reg-btn {
      font-size: 30px;
      border: 2px solid $accent-color;
      border-radius: 30px;
      color: $accent-color;
      text-decoration: none;
      padding: 12px 40px;
      margin-left: 40px;
    }
  }
}

.hover-me {
  position: absolute;
  width: 200px;
  top: 60px;
  right: 100px;
}

#hideMe {
  -webkit-animation: cssAnimation 5s forwards; 
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

.landing-photo {
  z-index: -1;
  position: absolute;
  height: 80%;
  top: 10%;
  right: 10%;
}

@media (max-width: 1200px) {
  .landing-photo {
    display: none;
  }
}

@media (max-width: 600px) {
  .body {
    padding: 10px !important;
  }
}

.landing-container2 {
  background: rgb(110, 76, 230);
  background: linear-gradient(
    135deg,
    rgba(110, 76, 230, 1) 0%,
    rgba(191, 219, 247, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  .titles {
    color: white;
    margin: 80px;
    font-size: 60px;
  }
  .about-msg {
    color: white;
    font-size: 30px;
    margin: 0px 10% 0px 10%;
    em {
      color: #FAE579;
      font-weight: bold;
      font-style: normal;
    }
    #noise-team {
      font-weight: normal;
    }
  }
  .how-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .how-card {
      margin: 30px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 25px;
      width: 300px;
      height: 500px;
      background-color: rgba(255, 255, 255, 0.33);
      img {
        width: 300px;
        margin-bottom: 20px;
      }
      em {
        font-style: normal;
        color: $accent-color;
      }
    }
  }
  .team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
    .team-card {
      margin: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        width: 300px;
        margin-bottom: 20px;
        border-radius: 50%;
      }
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 25px;
      }
    }
  }
}
