@font-face {
  font-family: Aileron;
  src: url(./fonts/Aileron/Aileron-Regular.ttf);
}

.logo {
  margin-right: 50px;
  font-size: 40px;
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: Aileron, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.logo-container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-body {
  position: absolute;
  margin-top: 100px;
  right: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.login-body h1 {
  color: #6E4CE6;
  font-size: 60px;
  margin-bottom: 20px;
}

.login-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.login-body form input {
  border: none;
  border-radius: 10px;
  background-color: #F4F4F4;
  color: #5A5A5A;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  margin-top: 20px;
}

.login-body form .forgot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 0px 20px 0px;
}

.login-body form .forgot-container span {
  color: #5A5A5A;
  font-size: 15px;
}

.login-body form .forgot-container span:hover {
  color: #6E4CE6;
}

.login-body form button {
  border: none;
  font-size: 20px;
  background-color: #6E4CE6;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  padding: 12px;
}

.login-body .reg-here-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
}

.login-body .reg-here-container p {
  margin-top: 100px;
  color: #5A5A5A;
  font-size: 15px;
}

.login-body .reg-here-container p span {
  color: #5A5A5A;
  text-decoration: underline;
}

.login-body .reg-here-container p span:hover {
  color: #6E4CE6;
}

.login-photo {
  z-index: -1;
  position: absolute;
  height: 80%;
  top: 10%;
  left: 10%;
}

@media (max-width: 1600px) {
  .login-body {
    right: 20%;
  }
}

@media (max-width: 1000px) {
  .login-body {
    position: static;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .login-photo {
    display: none;
  }
}

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .icon {
  margin: 20px 0px 20px 15px;
  height: 40px;
}

.navbar .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  font-size: x-large;
  margin-left: 20px;
}

.navbar .nav-container .links .link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .links {
    width: 60% !important;
    margin-left: 0px !important;
  }
}

@media (max-width: 600px) {
  .icon {
    margin: 20px 0px 20px 0px !important;
  }
  .links {
    width: 100% !important;
    font-size: large !important;
  }
  nav.logo {
    margin-right: 0px !important;
  }
}

.logo-container {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-body h1 {
  color: #6E4CE6;
  font-size: 60px;
  margin-bottom: 40px;
}

.register-body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

.register-body form .left-input {
  margin-right: 20px;
}

.register-body form input {
  width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #F4F4F4;
  color: #5A5A5A;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  margin-bottom: 30px;
}

.register-body form .invalid-reg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #DD0244;
  margin-bottom: 30px;
}

.register-body form .last-row-input {
  margin-bottom: 10px;
}

.register-body .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.register-body .link-container #login-here {
  color: #5A5A5A;
  font-size: 15px;
}

.register-body .link-container #login-here span {
  color: #5A5A5A;
  text-decoration: underline;
}

.register-body .link-container #login-here span:hover {
  color: #6E4CE6;
}

.register-body .link-container button {
  width: 300px;
  border: none;
  font-size: 20px;
  background-color: #6E4CE6;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  padding: 12px;
}

@media (max-width: 739px) {
  .last-row-input {
    margin-bottom: 30px !important;
  }
  .register-body form {
    width: 330px;
    margin: 0px;
  }
  .link-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

.landing-container {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .body {
  padding: 0px 0px 100px 10%;
}

.landing-container .body .slogan {
  font-size: 80px;
}

.landing-container .body .slogan em {
  color: #6E4CE6;
  font-style: normal;
}

.landing-container .body p {
  font-size: 30px;
  max-width: 700px;
  margin-bottom: 30px;
}

.landing-container .body #login-btn {
  font-size: 30px;
  background-color: #6E4CE6;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  padding: 14px 50px;
}

.landing-container .body #reg-btn {
  font-size: 30px;
  border: 2px solid #6E4CE6;
  border-radius: 30px;
  color: #6E4CE6;
  text-decoration: none;
  padding: 12px 40px;
  margin-left: 40px;
}

.hover-me {
  position: absolute;
  width: 200px;
  top: 60px;
  right: 100px;
}

#hideMe {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.landing-photo {
  z-index: -1;
  position: absolute;
  height: 80%;
  top: 10%;
  right: 10%;
}

@media (max-width: 1200px) {
  .landing-photo {
    display: none;
  }
}

@media (max-width: 600px) {
  .body {
    padding: 10px !important;
  }
}

.landing-container2 {
  background: #6e4ce6;
  background: linear-gradient(135deg, #6e4ce6 0%, #bfdbf7 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container2 .titles {
  color: white;
  margin: 80px;
  font-size: 60px;
}

.landing-container2 .about-msg {
  color: white;
  font-size: 30px;
  margin: 0px 10% 0px 10%;
}

.landing-container2 .how-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-container2 .how-card-container .how-card {
  margin: 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 25px;
  width: 300px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.33);
}

.landing-container2 .how-card-container .how-card img {
  width: 300px;
  margin-bottom: 20px;
}

.landing-container2 .how-card-container .how-card em {
  font-style: normal;
  color: #6E4CE6;
}

.landing-container2 .team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.landing-container2 .team-container .team-card {
  margin: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing-container2 .team-container .team-card img {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.landing-container2 .team-container .team-card h1 {
  font-size: 40px;
}

.landing-container2 .team-container .team-card p {
  font-size: 25px;
}

.sidebar {
  position: fixed;
  background-color: #f4f4f4;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.sidebar .logo {
  margin: 30px 50px;
  margin-bottom: 80px;
}

.sidebar .link {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.sidebar .link p {
  color: #8D8D8D;
}

.sidebar .link p:hover {
  color: #6E4CE6;
}

.sidebar .logout {
  position: absolute;
  bottom: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9279ec;
}

.shake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*# sourceMappingURL=index.css.map */