@font-face {
  font-family: Aileron;
  src: url(./fonts/Aileron/Aileron-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font-family: Aileron, sans-serif;
}

// misc
@import 'misc/variables';
@import 'misc/fonts';

//views
@import 'views/dashboard';
@import 'views/home';
@import 'views/login';
@import 'views/navbar';
@import 'views/profileSetup';
@import 'views/register';
@import 'views/landing';

